
<h1>THE STARTER LEAGUE: FALL 2012 COHORT</h1>

<img class= "flagpic" src="/assets/sl.png">

<p><h2>STUDENT YEARBOOK</h2></p>

<div class= "container">

	<a class="button red" href="am">AM WEB DEV</a>

	<a class="button blue" href="pm">PM WEB DEV</a>

	<a class="button green" href="rfd">RAILS FOR DESIGNERS</a>

	<a class="button white" href="all">ALL</a>

</div>