<!DOCTYPE html>
<html>
<head>
  <title>Yearbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div id="nav">
		<ul>
			<li>
				<a href="yearbook">Home</a>
					<ul>
      			<li><a href="am">AM Web Dev</a></li>
      			<li><a href="pm">PM Web Dev</a></li>
      			<li><a href="rfd">Rails for Designers</a></li>
      			<li><a href="all">All Students</a></li>
					</ul>
			</li>
		</ul>
	</div>
</header>
<%= yield %>

</body>
</html>
